@import '../../styles/variables';


.products-section
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex:4;
    padding:10px;
    margin: auto;
    margin-top:-18px;
 
}

.product-viewer
{
    flex:1;
    margin-top: 10px;
    max-width: 420px;
}

.main-container
{
    position: relative;
    width:100%;
    height: 100%;
}

.list-container
{
    display: flex;
    justify-content: center;
    position: relative;
}

.filter-section
{
    flex:1;
    height:auto;
    margin-right:20px;
    background: white;
    padding-bottom: 20px;
    min-height: 90vh;
}


.filter-title
{
    color:$menu-highlight-color;
    font-weight: bold;
    padding: 20px;
}

@media only screen and (max-width: 1400px) {
    .list-container
    {
        flex-direction: column;
    }
    
    .products-section
    {
        justify-content: center;   
        margin-left: -18px;
        margin-top: 10px;
flex:1;
    }
}